nav{
    margin-bottom : 30px;
}

#main-content{
    padding-bottom: 10px;
    border-radius: 10px;
}

#pixel-container{
    padding: 10px;
    height: 500px;
    border-radius: 10px;

}
nav{
    border-radius: 10px;
}

.nav-wrapper{
    border-radius: 10px;
}

#current-color{
    background-color: black;
}
